<!DOCTYPE html>
<html>
    <head>
        <title>Risultato importo</title>
    </head>
    <body>
        <div id="creazione">
            <h2>Creazione</h2>
            <h3>Database</h3>
            <ul>
                <li>
                [{{ create.DB.name }}]
                {% if create.DB.result == 0 %}
                esiste
                {% elif create.DB.result == 1 %}
                creato
                {% else %}
                non creato (ERRORE)
                {% endif %}
                </li>
            </ul>

            <h3>Tabelle</h3>
            <ul>
                {% for table, value in create.tables.items %}
                <li>[{{ table }}]
                {% if value == 0 %}
                esiste
                {% elif value == 1 %}
                creata
                {% elif value == -1 %}
                non creata (ERRORE LOCALE)
                {% elif value == -2 %}
                non creata (ERRORE ALTERVISTA: Tabella non trovata)
                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="inserimento">
            <h2>Inserimento</h2>
            <h3>Tabelle</h3>
            <ul>
                {% for table, value in tables.items %}
                <li>[{{ table }}]
                {% if value == 1 %}
                dati importati
                {% elif value == 0 %}
                nessun dato da importare
                {% elif value == -1 %}
                non creata (ERRORE LOCALE)
                {% elif value == -2 %}
                non creata (ERRORE ALTERVISTA: Tabella non trovata)
                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>